<!DOCTYPE html>
<html lang="en">
	<head>
		<title>RPCF</title>
		<!-- <meta http-equiv="refresh" content="2; url={{ baseURL }}"> -->
		<style>
			a {
				text-decoration: none;
			}
			body {
				background-color: #0A0A0A;
				color: #CC6F6F;
				font-family: verdana;
			}
			thead>tr>td {
				padding-right: 1em;
			}
			.sum {
				font-weight: bold;
			}
			h1>a {
				color: #CC6F6F;
			}
			input[type=range][orient=vertical]
			{
				writing-mode: bt-lr; /* IE */
				-webkit-appearance: slider-vertical; /* WebKit */
				width: 8px;
				height: 175px;
				padding: 0 5px;
			}
		</style>
		<script>
			function RPCFUpdate() {
				document.getElementById("RPCFform").submit();
			}
		</script>
	</head>
	<body>
		<h1>RPCF</h1>
		<p>Gas: {{ motorDrive }}</p> 
		<p>Steer: {{ servoStyr }}</p> 
		<form id="RPCFform" action="#" method="get">
			<input id="motorDrive" name="motorDrive" type="range" min="-1" max="1" step="1" orient="vertical" value="{{ motorDrive }}" onchange="RPCFUpdate()" /> <br />
			<input id="servoStyr" name="servoStyr" type="range" min="-100" max="100" step="1" value="{{ servoStyr }}" onchange="RPCFUpdate()" /> <br />
			<input type="submit" value="Submit">
		</form> 
	</body>
</html>

