<!DOCTYPE html>
<html lang="en">
	<head>
		<title>RPCF</title>
		<!-- <meta http-equiv="refresh" content="2; url={{ baseURL }}"> -->
		<style>
			a {
				text-decoration: none;
			}
			body {
				background-color: #0A0A0A;
				color: #CC6F6F;
				font-family: verdana;
			}
			thead>tr>td {
				padding-right: 1em;
			}
			.sum {
				font-weight: bold;
			}
			h1>a {
				color: #CC6F6F;
			}
		</style>
	</head>
	<body>
		<h1>RPCF</h1>
		 <form action="#" method="get">
			 motorDrive: <input type="text" name="motorDrive" value="{{ motorDrive }}"><br>
			 servoStyr: <input type="text" name="servoStyr" value="{{ servoStyr }}"><br>
			<input type="submit" value="Submit">
		</form> 
	</body>
</html>

